asn1crypto==0.24.0
beautifulsoup4==4.6.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cryptography==2.3
Django==1.11.20
enum34==1.1.6
Flask==1.1.0
get==2019.4.13
gyp==0.1
html5lib==0.999999999
idna==2.8
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.15
MySQL-python==1.2.5
pbr==5.2.0
post==2019.4.13
protobuf==3.7.1
public==2019.4.13
pycrypto==2.6.1
pygobject==3.26.1
pytz==2018.9
pyxdg==0.25
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
SecretStorage==2.3.1
six==1.12.0
spark-parser==1.8.9
stevedore==1.30.1
uncompyle2==2.0.0
uncompyle6==3.5.0
unpyclib==0.8.1
urllib3==1.25.6
virtualenv==16.5.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
webencodings==0.5
Werkzeug==0.15.4
xdis==4.1.0
